.bg{
    width: 100%;
    height: 850px;
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#textmovetop{
    margin-top: 230px;

}
#center{
    margin-top: 75px;
    color: black;
    font-size: 50px;
    text-align: justify;
}
#img{
    border: 5px solid black;
    border-radius: 10px;
}
#img2{
    width: 100%;
    height: 300px;
    border: 5px solid black;
}
#box4{
    background-color: black;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 20px;
    border: 5px solid rgb(80, 76, 76);
    
}
#texttop{
    font-size: 20px;
    color: white;
}
#text{
    width: 100%;
    height: 2px;
    background-color: wheat;
}
 #pra{
        column-gap: 3;
        column-rule: 5px solid gray;
        column-count: 3;
        text-align: justify;
        color: rgb(248, 248, 248);
        font-size: 20px;
    }